ODE_ENV=development
PORT=5000


DATABASE_URL=mongodb://localhost:27017/algonauts

BECYPT_SALT_ROUNDS=12
JWT_SECRECT='very-secret'
JWT_EXPIRES_IN=365d
JWT_REFRESH_SECRET='very-refresh-secret'
JWT_REFRESH_EXPIRES_IN=365d